<div class="jumbotron text-center">
<h1><%= @appointment.title%></h1>
<p> Date: <%= @appointment.completed%></p>
</div>
<p><%= @appointment.content%></p>


<% if @appointment.user == current_user%>
<%= link_to "Edit Appointment", edit_appointment_path(@appointment),  :class => "btn btn-primary btn-sm"%>
<%= button_to "Delete Appointment", appointment_path(@appointment), :method => :delete,  :class => "btn btn-primary btn-sm"%>
<% end %>

<br>
<h4> Return To Client Homepage: <%= link_to @appointment.client.name, client_path(@appointment.client_id) %></h4>